<!DOCTYPE html>
<html lang="en">

<head>
	<title>DTP - Django Tutorial Project</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personae/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#d7d3d3;">
	<div class="d-flex flex-column flex-md-row align-items-center p-0 pl-2 mb-2 bg-dark text-white">
		<h5 class="my-0 mr-md-auto">WEB DESIGNz R US</h5>
		<nav class="my-3 mr-md-3">
			<a href="/" class="p-2 text-white">Home</a>
			<a href="/blog" class="p-2 text-white">Blog</a>
			<a href="/contact/" class="p-2 pr-4 text-white">Contact</a>
		</nav>
		<div class="m-0">
			<img src="{% static 'personae/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="profile picture">
		</div>
	</div>

<div class="p-5 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-5">Vape, Asymmetrical, Qui </h1>
	<p class="lead p-sm-0 text-sm-left">
		{% block content %}
		{% endblock %}
	</p>
</div>

<footer style="position: relative; bottom: 0;">
	<div>
		<p>
			<a href="/contact/" target="blank" class="col-md-3">Contact</a> |
			<a href="#" target="blank" class="col-md-3">LinkedIn</a> |
			<a href="#" target="blank" class="col-md-3">Twitter</a> |
			<a href="#" target="blank" class="col-md-3">Google+</a>
		</p>
	</div>
</footer>

</body>

</html>
