<!DOCTYPE html>
<html lang="en">

<head>
	<title>DTP - Django Tutorial Project</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personae/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#d7d3d3">
	<div class="d-flex flex-column flex-md-row align-items-center p-0 pl-2 mb-2 bg-dark text-white">
		<h5 class="my-0 mr-md-auto">WEB DESIGNz R US</h5>
		<nav class="my-3 mr-md-3">
			<a href="#" class="p-2 text-white">Home</a>
			<a href="#" class="p-2 text-white">Blog</a>
			<a href="#" class="p-2 pr-4 text-white">Contact</a>
		</nav>
		<div class="m-0">
			<img src="{% static 'personae/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="profile picture">
		</div>
	</div>

<div class="p-5 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-5">Programming, Teaching, Entrepreneurship</h1>
	<p class="lead">
		{% block content %}
		{% endblock %}
	</p>
</div>

<footer class="fixed-bottom">
	<div class="col-12 col-md" style='margin-left:15px'>
		<p class="d-block mb-3">
			<a href="#" target="blank">Contact</a> |
			<a href="#" target="blank">LinkedIn</a> |
			<a href="#" target="blank">Twitter</a> |
			<a href="#" target="blank">Google+</a>
		</p>
	</div>
</footer>

</body>

</html>
